body *{
	
	width:500px;
	margin:auto;
	font-family:arial;
}
#sec{
	border:1px solid black;
	margin-top:10%;
	padding: 80px 15px 80px 15px;
}
#ti{
	text-align:center;
}
#text{
	text-align:center;
	padding-top:2%;
	
}
#sec2{
	padding-top:20px;
	
}
#aceptar{
	width:15%;
	margin-left:43%;
}