body *{
	
	width:500px;
	margin:auto;
	font-family:arial;
}
#titulo{
	text-align:center;
	padding-bottom:30px;
	
}

#lab{
	float:left;

	text-align:center;
}
#inp{
	text-align:center;
	margin-left:25%;
	width:50%;
	
}
#seccion{
	border:1px solid black;
	margin-top:10%;
	padding: 80px 15px 80px 15px;
}
#listo{
	width:15%;
	margin-left:43%;
}
#sec2{
	padding-top:20px;
}