body{
    font-family: arial;
    
}
div{
    border:2px solid #cccccc;
    text-align: center;
    padding: 2px 0 20px 0;
    min-height: 250px; 
    width: 450px;
    margin:150px auto 30px auto;
	border-radius: 6px;
}

#cabecera{
    text-align: left;
    padding-left: 20px;
   
}

#titulo{
    font-weight: bold;
}

#nombrec{
   display:inline;
   padding-right:10px;
}

#nombrecontra{
    display:inline;
	padding-right:57px;
}

#seccionCorreo{
	padding-top:10px;
	padding-bottom:30px;
}

#seccionContraseña{
	padding-top:20px;
	padding-bottom:30px;
}

#conectar{
	padding-top:25px;
	padding-bottom:30px;
}

footer{
	text-align:center;
	padding-top:200px;
}