/*pagina principal*/
body{
	font-family:Arial;
	background-image:url(http://www.grupouniversitario.cl/archivos/servicio_4/archivo_8153297383.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	margin-top:0px;
}
body *{
	margin:5px;
}

h1{
    font-size: 40px;
    padding-left: 25px;
	color:white;
}

#pcl_contenedor{
	width:90%;
	margin:auto;
	background-color:#F4F5F5;
	box-shadow: 0px 0px 30px #090909;
	min-height:500px;
}
/*cabecera*/
	#pcl_cabecera{
		min-height:150px;
		background-image:url(http://fscu.helen.cl/web_ulagos/images/fondo.jpg);
		background-size:100%;
	}
	/*logo*/
		#logo{
			float:left;
			width:35%;
		}
		#logo img{
			width:340px;	
			margin:20px auto;
		}
	/*logo*/
	/*regisro*/
		#registro{
			float:right;
			width:29%;
			margin-top:25px;
		}
		#registro .reg{
			font-size:17px;
			float:right;
			margin-top:2px;
			margin-right:10px;	
		}
		.reg img{
			width: 15px;
			margin-bottom:0px;
		}
		#redes{
			width:80%;
		}
		.redes{
			float:right;
			margin-top:0px;
		}
		.redes img{
			width: 35px;
			border-radius:4px;			
		}
	/*regisro*/
	/*busqueda*/	
		#busqueda{
			padding-top:58px;
			margin-left:35%;
			margin-right:35%;
			background-image: url("https://userscontent2.emaze.com/images/93e2d219-948d-4f5b-bddd-b58637d71498/8225bc27dd2f5958ef0894797fb270cd.png");
			background-repeat: no-repeat;			
			background-size: 200px;
			background-position:80px;
			text-align: right;
			height:80px;
		}	
		#buscar{
			padding-top:25px;
		}
		#pchdtext{
			width:67%;
		}
	/*busqueda*/
/*cabecera*/
/*navegacion*/
	a{
	text-decoration:none;
	}
	#pcl_navegacion{
		border-radius:5px;
		background-color: #047ECE;
		padding: 5px 0px;
		margin:0px;
	}
	#pcl_navegacion ul{
		text-align:center;
		padding:2px;
		margin:0px;
	}
	#pcl_navegacion ul li{
		display:inline-block;
		margin:0px 50px;
	}
	#pcl_navegacion ul li a{
		font-size:20px;
		color:#fff;
		margin:0px 0px 2px 1px;
	}	
	#pcl_navegacion ul li img{
		margin:2px 2px 0px 0px;
		width:18px;
	}
/*navegacion*/
/*anuncio general*/
	#pcl_anuncios{
		text-align:center;
	}
	#pcl_anuncios img{
		border-radius:4px;
		width:972px;
		margin:10px auto;
	}
/*anuncio general*/
/*cuerpo principal*/
	#pcl_cuerpo{
		float:left;
		width:72%;
		min-height:300px;
	}	
	#pcl_principal {
		margin-left:28px;
		min-height:240px;
	}
	#mini_tit{
		text-align:center;
	}
	/*talleres*/
		#pcl_talleres{
			border:1px solid black;
			border-radius:5px;
		}
		#pcl_talleres a{
			color:#fff;
		}
		#pcl_talleres ul{
			padding-left:10px;
		}
		.tl_s{
			min-height:308px;
			float:left;
			width:31%;
			border:1px solid black;
			border-radius:5px;
		}
		.tl_img{
			min-height:50px;
			background-color:#2A57EF;
			border-radius:5px;
			border:1px solid black;
			border-radius:5px;
			color:#fff;
		}
		.tl_artc{
			min-height:210px;
			border:1px solid black;
			border-radius:5px;
		}
		.tl_ft{
			border:1px solid black;
			border-radius:5px;
			background-color:#2A57EF;
		}
		#tl_ftlink{
			clear:both;
			border:1px solid black;
			border-radius:5px;
			text-align:center;
			background-color:#2A57EF;
		}
	/*talleres*/
/*cuerpo principal*/
/*publicidad lateral*/
	#pcl_lateral{
		margin: 0px 30px 0px 71%;
		min-height:490px;
		border-radius:5px;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
	}
	#pcl_lateral img{
		width:200px;
		height:200px;
		padding: 0px 10px 0px 15px;
	}
	#pc1_lateral div{
		text-align:center;
	}
/*pie de pagina*/
	#f1{
		clear:both;
		min-height:280px;
		background-image:url(../IMAGENES/lapiz.png);
		background-size:100% 100%;
		margin:0px;
	}	
	#fsleft{
		margin-top:0px;
		margin-left:33%;
		float:left;
		width:21%;
		margin-bottom:0px;
	}
	#fsright{
		float:left;
		width:30%;
		margin-top:0px;
	}
	.fs li{
		color: #0000FF;
		list-style:none;
		padding: 10px;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
		font-size: 14px;
	}
	#f2 {
		padding:20px;
		background-color:#0e1a46;
		text-align:center;
		margin:0px;
		color:#FFFFFF;
	}	
	.fim{
		width:30px;
		margin-bottom:0px;
	}
	.footerg{
		text-align:center;
		color:#FFFFFF;
	}
/*pie de pagina*/
/*pagina principal*/	