body{
	font-family:Arial;
	background-image:url(http://www.grupouniversitario.cl/archivos/servicio_4/archivo_8153297383.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
body *{
	margin:5px;
}
body{
	margin-top:0px;
}
h1{
    font-size: 40px;
    padding-left: 25px;
	color:white;
}

#pcl_contenedor{
	width:90%;
	margin:auto;
	background-color:#F4F5F5;
	box-shadow: 0px 0px 30px #090909;
	min-height:500px;
}
/*cabecera*/
#pcl_cabecera{
	min-height:150px;
	background-image:url(http://fscu.helen.cl/web_ulagos/images/fondo.jpg);
	background-size:100%;
}
/*logo*/
#logo{
	float:left;
	width:35%;
}
#logo img{
	width:340px;	
	margin:20px auto;
}

/*regisro*/
#registro{
	float:right;
	width:29%;
	margin-top:25px;
}
#registro .reg{
	font-size:17px;
	float:right;
	margin-top:2px;
	margin-right:10px;	
}
.reg img{
	width: 15px;
	margin-bottom:0px;
}
#redes{
	width:80%;
}
.redes{
	float:right;
	margin-top:0px;
}
.redes img{
	width: 35px;
	border-radius:4px;			
}

/*BUSQUEDA*/	
#busqueda{
	padding-top:58px;
	margin-left:35%;
	margin-right:35%;
	background-image: url("https://userscontent2.emaze.com/images/93e2d219-948d-4f5b-bddd-b58637d71498/8225bc27dd2f5958ef0894797fb270cd.png");
	background-repeat: no-repeat;			
	background-size: 200px;
	background-position:80px;
	text-align: right;
	height:80px;
}
#buscar{
	padding-top:25px;
}
#pchdtext{
	width:67%;
}

/*NAVEGACIÓN*/
a{
	text-decoration:none;
}
#pcl_navegacion{
	background-color: #047ECE;
	padding: 5px 0px;
	margin:0px;
}
#pcl_navegacion ul{
	text-align:center;
	padding:2px;
	margin:0px;
}
#pcl_navegacion ul li{
	display:inline-block;
	margin:0px 50px;
}
#pcl_navegacion ul li a{
	font-size:20px;
	color:#fff;
	margin:0px 0px 2px 1px;
}	
#pcl_navegacion ul li img{
	margin:2px 2px 0px 0px;
	width:18px;
}

/*ANUNCIO GENERAL*/
#pcl_anuncios{
	text-align:center;
}
#pcl_anuncios img{
	border-radius:4px;
	width:972px;
	margin:10px auto;
}

/*CUERPO*/
#pcl_cuerpo{
	float:left;
	width:72%;
	min-height:300px;
}
	
<<<<<<< HEAD
#pcl_principal {
	margin-left:28px;
	min-height:240px;
}

=======
	#pcl_principal {
		margin-left:28px;
		min-height:240px;
		
	}
	#pcl_principal >*{
		min-height:220px;		
	}
	#pcl_principal p{
		min-height:10px;
	}
	/* maquetacion de talleres*/
		#pcl_talleres{
			border:1px solid black;
			border-radius:5px;
			margin-bottom:20px;
		}
		#pcl_talleres a{
		color:blue;
		}
		#pcl_talleres ul{
			padding-left:10px;
		}
		.tl_s{
			border:1px solid blue;
			min-height:200px;
			float:left;
			width:31%;
		}
		.tl_titu{
			border:1px solid blue;
			min-height:50px;
		}
		.tl_artc{
			border:1px solid blue;
			min-height:80px;
		}
		.tl_ft{
			border:1px solid blue;	
		}
		#tl_ftlink{
			clear:both;
			border:1px solid blue;
	}
	/* maquetacion de talleres*/
	/*maquetacion de asesorias*/
		#pcl_asesorias {
			border:1px solid black;
			border-radius:5px;
			margin-bottom:20px;
		}
		#pcl_asesorias a{
			color:blue;
		}
		#pcl_asesorias ul{
			padding-left:10px;
		}
		.as_s{
			border:1px solid blue;
			min-height:200px;
			float:left;
			width:31%;
		}
		.as_titu{
			border:1px solid blue;
			min-height:50px;
		}
		.as_artc{
			border:1px solid blue;
			min-height:80px;
		}
		.as_ft{
			border:1px solid blue;	
		}
		#as_ftlink{
			clear:both;
			border:1px solid blue;
		}
	/*maquetacion de asesorias*/
	/*maquetacion de cursos*/
		#pcl_lugares{
			border:1px solid black;
			border-radius:5px;
		}
		#pcl_lugares a{
			color:blue;
		}
		#pcl_lugares ul{
			padding-left:10px;
		}
		.cs_s{
			border:1px solid blue;
			min-height:200px;
			float:left;
			width:31%;
		}
		.cs_titu{
			border:1px solid blue;
			min-height:50px;
		}
		.cs_artc{
			border:1px solid blue;
			min-height:80px;
		}
		.cs_ft{
			border:1px solid blue;	
		}
		#cs_ftlink{
			clear:both;
			border:1px solid blue;
		}
	/*maquetacion de cursos*/	
/*cuerpo*/
/*publicidad y extras*/
	#pcl_lateral{
		margin: 0px 30px 0px 71%;
		min-height:490px;
		/*background-color:#87CEEB;*/
		border-radius:5px;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
	}
	#pcl_lateral img{
		width:200px;
		height:200px;
		padding: 0px 10px 0px 15px;
	}
	#pc1_lateral div{
		text-align:center;
	}
/*publicidad y extras*/
/*//////////CONTACTENOS//////////*/
#contactenos{
	box-shadow: 5px 0px 5px #090909;
	box-shadow: 0px 0px 10px #090909;
    text-align: center;
    padding: 2px 0 20px 0;
    min-height: 250px; 
    width: 450px;
    margin:10px auto 5px auto;
	border-radius: 6px;
	background-color:#F4F5F5;
	margin-top:42px;
}
#contacdiv{
	text-align:center;
}
#logoCON{
	width:85%;
	margin:25px auto 10px auto;
}

#contacp{
    color:#262626;
	font-weight:bold;
	padding:5px 10px;
}
.area{
	width: 80%;
    height: 100px;
    background: white;
    padding: 0 30px 0 15px;
    line-height: normal;
    font-family: Arial, regular;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #111;
}

/*/////////////////////////////////////////////////*/ 
/*pie de pagina*/
	#f1{
		clear:both;
		min-height:280px;
		background-image:url(../IMAGENES/lapiz.png);
		background-size:100% 100%;
		margin:0px;
	}
>>>>>>> 4712f881e44d2a8d11897df1aec88a03ad505569
	
/* MAQUETACIÓN TALLERES*/
#pcl_talleres{
	border-radius:5px;
	margin-bottom:20px;
	margin-top:20px;
	text-align:center;
}

#pcl_talleres a{
	color:blue;
}
#pcl_talleres ul{
	padding-left:10px;
}
.tl_s{
	min-height:200px;
	float:left;
	width:31%;
}
.tl_titu{
	min-height:50px;
}
.tl_artc{
	min-height:80px;
}
.tl_ft{
}
#tl_ftlink{
	clear:both;
}

/*MAQUETACIÓN ASESORIAS*/
#pcl_asesorias {
	border:1px solid black;
	border-radius:5px;
	margin-bottom:20px;
}
#pcl_asesorias a{
	color:blue;
}
#pcl_asesorias ul{
	padding-left:10px;
}
.as_s{
border:1px solid blue;
	min-height:200px;
	float:left;
	width:31%;
}
.as_titu{
	border:1px solid blue;
	min-height:50px;
}
.as_artc{
	border:1px solid blue;
	min-height:80px;
}
.as_ft{
	border:1px solid blue;	
}
#as_ftlink{
	clear:both;
	border:1px solid blue;
}
		
/*MAQUETACIÓN CURSOS*/
#pcl_lugares{
	border:1px solid black;
	border-radius:5px;
}
#pcl_lugares a{
	color:blue;
}
#pcl_lugares ul{
	padding-left:10px;
}
.cs_s{
	min-height:200px;
	float:left;
	width:31%;
	}
.cs_titu{
	min-height:50px;
}
.cs_artc{
	min-height:80px;
}

#cs_ftlink{
	clear:both;
}

/*PUBLICIDAD LATERAL*/
#pcl_lateral{
	margin: 0px 30px 0px 71%;
	min-height:490px;
	border-radius:5px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
#pcl_lateral img{
	width:200px;
	height:200px;
	padding: 0px 10px 0px 15px;
}
#pc1_lateral div{
	text-align:center;
}

/*PIE DE PAGINA*/
#f1{
	clear:both;
	min-height:280px;
	background-image:url(../IMAGENES/lapiz.png);
	background-size:100% 100%;
	margin:0px;
}
	
#fsleft{
	margin-top:0px;
	margin-left:33%;
	float:left;
	width:21%;
	margin-bottom:0px;
}
#fsright{
	float:left;
	width:30%;
	margin-top:0px;
}
	
.fs li{
	color: #0000FF;
	list-style:none;
	padding: 10px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	font-size: 14px;
}
#f2 {
	padding:20px;
	background-color:#0e1a46;
	text-align:center;
	margin:0px;
	color:#FFFFFF;
}
	
.fim{
	width:30px;
	margin-bottom:0px;
}
	
.footerg{
	text-align:center;
	color:#FFFFFF;
}

/*INICIAR SESION*/
#logoIS{
	width:85%;
	margin:25px auto 10px auto;
}
#centroI{
	text-align:center;
}
#inicioSesion{
    box-shadow: 5px 0px 5px #090909;
	box-shadow: 0px 0px 10px #090909;
    text-align: center;
    padding: 2px 0 20px 0;
    min-height: 250px; 
    width: 450px;
    margin:10px auto 5px auto;
	border-radius: 6px;
	background-color:#F4F5F5;
	margin-top:42px;
}
#re{
	margin-top:20px;
}
#cabecera{
    text-align: left;
    padding-left: 20px;
   
}

#titulo{
    color:#262626;
	font-weight:bold;
	padding:5px 10px;
}

#nombrec{
   display:inline;
   padding-right:10px;
}

#nombrecontra{
    display:inline;
	padding-right:57px;
}

#seccionCorreo{
	margin-top:10px;
	margin-bottom:0px;
}

#seccionContraseña{
	margin-top:20px;
	padding-bottom:50px;
}

#conectar{
	padding-top:10px;
	padding-bottom:10px;
}
#Binicios{
	margin-top:20px;
	
    color: #000000;
    text-align: center;
    display: block;
    border: none;
    max-width: 470px;
    width: 90%;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px auto 5px auto;
    padding: 10px 0;
    border-radius: 4px;
    line-height: 120%;
    text-transform: uppercase;
}
#Bregistro{
    color: #000000;
    text-align: center;
    border: none;
    max-width: 470px;
    width: 30%;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin: 15px auto 5px auto;
    padding: 10px 0;
    border-radius: 4px;
    line-height: 120%;
}
.correo{
	width: 80%;
    height: 43px;
    background: white;
    padding: 0 30px 0 15px;
    line-height: normal;
    font-family: Arial, regular;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #111;
}

/*HOJA DE REGISTRO*/
#cuerpo_requi {
	font-family:Arial;
	margin:30px auto;
	width:1000px;
	background:#F4F5F5;
	box-shadow:0px 0px 25px #090909;
	border-radius:5px;	
	text-align:center;
}
#logoRegistrar{
}
#izquierda_requi {
	float: left;
	text-align:left;
	width:45%;
	padding:10px;
	border-right:3px dashed gray;
	padding:20px 0px 20px 10px;
	
}
#derecha_requi {
	width:auto;
	padding:10px;
	margin-left:50%;
	text-align:left;
}

.imagen_forma {
	float:left;
	border-radius:6px;
	width:80px;
	margin:0px 10px 0px 40px;
}
.beneficio{
	margin:10px auto;
}

.letras_forma {
	margin-left:30%;
	padding:17px;
	border-radius:6px;
	
}
.row {
	padding: 12px;
	
}
#ofertasEspeciales{
	border-top: 2px dashed black;
	padding:10px;
	margin:30px 10px 10px 10px;
}
.Textnom{
	width: 74%;
    height: 40px;
    background: white;
    padding: 0 5px;
    line-height: normal;
    font-family: Arial, regular;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #111;
}
#btnRegis {
	margin;25px auto;
}

#mini_cuerpo_regis{
	margin-left:70px;
}

/*Mensaje de bienvenida*/
/* base semi-transparente */     
.overlay{         
    display: none;        
    position: absolute;         
    top: 0;         
    left: 0;         
    width: 100.7%;         
    height: 128%;
    background: #000;         
    z-index:1001; 
	opacity:0.75;         
    -moz-opacity: 0.75;         
    filter: alpha(opacity=75);     
	margin:-10px 0px 0px -10px;
}    
    
/* estilo para la ventana modal */   
.modal {         
    display: none;         
    position: absolute;         
    top: 15%;        
    width: 80%;         
    height: 100%;         
	color: #333;         
    z-index:1002;        
    overflow: auto;
	padding-left:130px;	
	margin:0px auto;
}

/*HOJA DATOS DE NOSOTOS COMO EMPRESA*/

#nos_text{
	border: 1px solid red;
	float:left;
	
	}
#nos_elige{
	border: 1px solid green;
	width: 40%;
	color:white;
	margin-left: 30px;
}
#nos_imagen{
	margin:25%;
}

/*ASESORIA PRESENCIAL*/

#AsesoryP{
    width: 180px;
}

#principal{
    float: left;
    width: 70%;
	text-align:center;
}
#lateral{
    margin-left: 70%;
    text-align: center;
    min-height:500px;
    border-left:2px  dashed #ff6a00;
    background-color: #FCFBEC;
}

#ingles{
    float:left;
    width: 30%;
    text-align: center;
}

#cuv{
    margin-left: 30%;
    text-align: center;
    margin-top:8px;
}

#fi1{
    float:left;
    width: 30%;
    text-align: center;
}

#agregar{
    float:left;
    width: 30%;
    text-align: center;
    margin-left: 200px;
}

#AsesoryP_add{
    width: 120px;
}

#lateral > a > img{
    min-height:450px;
    width: 350px;
}

/*SOMI ASESORIA*/
#grupo1, #grupo2, #grupo3, #grupo4, #grupo5{
	float: left;
	padding-left:15px;
	text-align: justify;
}
		
.izquierda{
	float: left;
	margin:30px;
}
#uno{
	width:70%;
	border: 1px solid black;
	float:left;
}
#lateral{
	text-align:center;
	min-height:300px;
	background-color:red;
	margin-left:70%;
}
.derecha{
	margin:40px;
}
		
#unirme{
	text-align:center;
	margin-left:50%;
}
		
/*******************************************/
#tituloConfirmarC{
	text-align:center;
	padding-bottom:30px;
	
}

#labelCorreo{
	float:left;

	text-align:center;
}
#inputCorreo{
	text-align:center;
	margin-left:25%;
	width:50%;
	
}
.seccionConfirmarC{
	border:1px solid black;
	margin-top:10%;
	padding: 80px 15px 80px 15px;
}

#Blisto{
	width:15%;
	margin-left:43%;
}

#secConfirmacionListo{
	padding-top:20px;
}

/* TERMINA CONFIRMAR CONTRASEÑA */
#seccionCRC{
	
	margin-top:10%;
	padding: 80px 15px 80px 15px;
	border:1px solid black;
}
#ParrafoCRC{
	text-align:center;
	
}
#textoCRC{
	text-align:center;
	padding-top:2%;
	
}
#SeccionAceptar{
	padding-top:20px;
	
}
#BotonAceptar{
	width:15%;
	margin-left:43%;
}
/*TERMINA OLVIDE CONTRASEÑA*/


/* --------------Confirmar Recuperacion de Contraseña---------- */
#seccionRecuperarCuenta{
	border:1px solid black;
	margin: 0;
	padding: 15px 15px 15px 15px;
	text-align:center;
}
#txtConfirCon{
	text-align:center;
}
#textoRecuperarContraseña{
	text-align:center;
	padding-top:2%;
	
}
#BotonListo{
	padding-top:20px;
}
#olvidecontras{
	box-shadow: 5px 0px 5px #090909;
	box-shadow: 0px 0px 10px #090909;
    text-align: center;
    padding: 2px 30px 20px 30px;
    min-height: 250px; 
    width: 450px;
    margin:102px auto 102px auto;
	border-radius: 6px;
	background-color:#F4F5F5;
}

<<<<<<< HEAD
/******************************************/		

/*PERFIL ESTUDIANTE*/
.perfilEstudiante{
	float:right;
	width:30%;
	text-align:left;
}

.fotoEstudiante{
	margin-right:205px;
}
.fotoEstudiante > img{
	display:block;
	margin:0px;
}
.nombreEstudiante{
	text-transform:uppercase;
	text-align:center;
	height:100px;
	padding:10px auto;
	text-align:center;
	float:right;
	width:190px;
	padding-top:9px;;

}

/*PAGINA PRINCIPAL ALUMNO*/
.principalEst{
	float:left;
	width:72%;
	min-height:300px;
	text-align:center;
	margin:20px auto;
}



=======
/*******************************************/		
		
>>>>>>> 4712f881e44d2a8d11897df1aec88a03ad505569
